html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    background: #384955;
    margin: 0;
}

.mynav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.mynav a {
    color: white !important;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    width: 50%;
    text-shadow: 2px 2px 4px #000000;
}

.mynav a:hover {
    z-index: 10;
    text-shadow: 1px 1px 2px black, 0 0 12px blue, 0 0 5px darkblue !important;
  }

.navbar-toggler-icon {
    color: white !important;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home > h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.projects {
    position: relative;
    background-color: #EDF2F4;
    color: black;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects {
    font-size: 50px;
    color: black;   
    text-shadow: 2px 2px 4px grey;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-img {
    min-height: 50vh;
}

.desc {
    position: absolute;
    filter: blur(0px);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 2rem 2rem 0 2rem;
}

.hideDesc {
    //transition: .5s ease;
    opacity: 0;
}

.showDesc {
    opacity: 1;
}

.about-title, .about-contents, .contact {
    text-shadow: 2px 2px 4px #000000;
}

.info_link {
    min-height: 10vh;
    max-height: 10vh;
}