html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    background: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.navbar {
    overflow: hidden;
    position: absolute;
    margin: 20px 50px;
}

.navbar a {
    position: relative;
    float: left;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
    z-index: 10;
}

.navbar a:hover {
    z-index: 10;
    position: relative;
    border-bottom-style: groove;
  }

.home {
    background: linear-gradient(rgb(64,64,64), slategray);
    background: linear-gradient(30deg, rgb(96,96,96), rgb(0,0,0));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.projects {
    position: relative;
    background-color: slategrey;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: black;   
    text-shadow: 2px 2px 4px grey;
}

.proj-container {
    margin: 0 10vw 5vw;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
}

.proj-item {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    margin-top: 50px;
    box-shadow: 10px 10px 5px #282828;
    height: 35vh;
}

.proj-item > img {
    height: 100%;
    width: 33%;
}

.proj-img2 {
    background-color: black;
}

.proj-desc {
    max-height: 75%;
    overflow: hidden;
    align-self: flex-start;
    padding-left: 3%;
    padding-right: 1%;
    font-size: 16px;
}

.proj-title {
    font-size: large;
    font-weight: bolder;
    text-shadow: 2px 2px 4px silver;
}

.about {
    background: linear-gradient(rgb(0,0,0), rgb(96,96,96));
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding-bottom: 50px;
}

.about-title {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 50px;
}

.about-contents {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    color: white;
}

.end {
    padding-bottom: 20px;
}

.contact {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 50px;
}

.contact-img {
    max-width: 10%;
    height: auto;
    margin-left: 50px;
}